<div class="bg-red-50 border border-[var(--color-error)] rounded-[var(--radius-lg)] p-4">
  <div class="flex items-start">
    <svg class="w-5 h-5 text-[var(--color-error)] mr-3 mt-0.5" fill="currentColor" viewBox="0 0 20 20">
      <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.707 7.293a1 1 0 00-1.414 1.414L8.586 10l-1.293 1.293a1 1 0 101.414 1.414L10 11.414l1.293 1.293a1 1 0 001.414-1.414L11.414 10l1.293-1.293a1 1 0 00-1.414-1.414L10 8.586 8.707 7.293z" clip-rule="evenodd"/>
    </svg>
    <div class="flex-1">
      <ul class="list-none space-y-1">
        {% for error in errors %}
        <li class="text-sm text-[var(--color-error)]">{{ error }}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
