<section id="instructors" class="section section--bg-white">
  <div class="container container--default">
    <h2 class="section__title">Our Instructors</h2>
    <div class="grid grid--3-col">
      {% for instructor in instructors %}
      <div class="card">
        <div class="instructor-card__avatar-wrapper">
          <div class="avatar avatar--lg">
            {{ instructor.name.chars().next().unwrap() }}
          </div>
          <h3 class="instructor-card__name">{{ instructor.name }}</h3>
          <p class="instructor-card__credentials">{{ instructor.credentials }}</p>
        </div>
        <p class="instructor-card__bio">{{ instructor.bio }}</p>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
